/*Initialize the main*/
:root{
  --main-color: #000000e1;
  --secondary-color: #272727;
  --third-color: #B0C4DE;
  --shadow: rgba(0, 0, 0, 0.905);
  --font-color: aliceblue;
  --font-header-color: firebrick;
  --border-color: slategrey;
}

body{
  margin: 0;
  background: var(--main-color);
  color: var(--font-color);
}

/*Add the header and the pictures associated*/
header{
  display: flex;
  border: var(--third-color) 2px outset;
  background-color: var(--secondary-color);
  padding: 0.5em;
  box-shadow: 0px 4px 8px 2px var(--third-color);
  align-items: center;
}

/*Each picture has a container which contains the image*/
.profile-picture {

  position: relative;
  display: inline-block;
  width: 10%;
  height: auto;
  margin: 1em;
  margin-left: 15%;
}

.profile-picture img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;

}

/*Here all the links button in the header*/
.Bio-link,.Project-link,.Contact-link{
  color: var(--font-color);
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  margin: 2em;
  margin-left: 10%;
  text-decoration: none;
  padding: 5px;
  border: var(--third-color) 2px outset;
  transition: color 0.3s ;
  box-shadow: 4px 4px 8px 2px var(--shadow);
}

.Bio-link{color: var(--font-header-color);}


.Bio-link:hover,.Project-link:hover,.Contact-link:hover{
  color: var(--font-header-color);
}

main{

  height: fit-content;
  width: auto;
  margin-top: 5%;
}

h1{
  color: var(--font-header-color);
  font-size: 1.5rem;
  justify-self: center;
  background-color: var(--secondary-color);
  border: 2px outset var(--third-color);
  padding: 0.5rem;

}

/*the parcours part divided in subsections to easier manipulation*/
.parcours{
  font-size: 1.2rem;
  justify-self: center;
  text-align: center;
  word-spacing: 3px;
  line-height: 1.6em;
  margin-top: 3em;
  
}

.parcours p{
  background-color: var(--secondary-color);
  border: outset var(--third-color) 2px;
  border-radius: 3em;
  box-shadow: 4px 4px 8px 2px var(--third-color);
  padding: 1.2em;
  transition: transform .2s, border-color .2s, box-shadow .2s;
}

.parcours span{color: var(--font-header-color);}


.part-one:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
  box-shadow: 4px 4px 8px 2px var(--border-color);

}

.part-two:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
  box-shadow: 4px 4px 8px 2px var(--border-color);

}

.part-three:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
  box-shadow: 4px 4px 8px 2px var(--border-color);

}

/*The skills grid which 2 distincts columns to display each section*/
.skills{
  margin-top: 2%;
  display: grid;
  width: 45%;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20%;
  font-size: 1.5em;
  justify-self: center;
  text-align: left;
  padding: 0.8em;
  background-color: var(--secondary-color);
  border: outset var(--third-color) 2px;
  transition: transform .2s, border-color .2s;

}

.skills:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title-skills { grid-column: 1/-1;
  font-weight: bolder;
  font-size: 1.5rem;
  justify-self: left; 
  margin-bottom: 1%;
}

.underline-bar{
  grid-column: 1/-1;
  margin-bottom: 5%;
  height: 4%;
  width: 20%;
  color: var(--third-color);
  border: var(--third-color) solid 1px;
  background-color: var(--third-color);
}

.title-stacks { grid-column: 1;}
.title-langages, .title-softskills { grid-column: 2; } 

.title-stacks, .title-langages, .title-softskills { 
  margin: 0;
  font-weight: lighter;
  font-size: 1.2rem;
  border: var(--third-color) 2px inset;
  padding: 0.3em;
  background-color: rgb(34, 32, 32);
  width: fit-content;
}

.stack{ grid-column: 1;}
.soft, .softskills  { grid-column: 2;}

.stack,.soft,.softskills {
  padding: 0;
  list-style: none;
  list-style-position: inside;
  font-size: 0.9em;
}


.stack li,.soft li,.softskills li {margin-bottom: 0.4em;
  padding: 0.3em;
  color: var(--font-header-color);
  list-style-type: disc;
}


/*The aesthetic for objectif part*/
.objectif{
  font-size: 1.2rem;
  justify-self: center;
  margin: 2em;
  padding: 0.5em;
  background-color: var(--secondary-color);
  border: outset var(--third-color) 2px;
  border-radius: 3em;
  box-shadow: 4px 4px 8px 2px var(--third-color);
  transition: transform .2s, border-color .2s, box-shadow .2s;

}

.objectif:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
  box-shadow: 4px 4px 8px 2px var(--border-color);
}

/*The grid for all my passions with container to contains images*/
.passions-grid {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
}

h2{
  color: var(--font-header-color);
  margin-top: 5%;
  font-size: 1.5rem;
  justify-self: center;
  background-color: var(--secondary-color);
  border: 2px outset var(--third-color);
  padding: 0.5rem;

}

/*Each image has a container to contains images, a span which describe the image and the opacity handling when the
image is hover*/
.JJB-pic{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

.JJB-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.JJB-pic span{
  margin:1em;
  position: absolute;
  color: var(--font-color);
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1 ease-in-out;
}


.JJB-pic:hover img{
  opacity: 0.2;
}

.JJB-pic:hover span{
  opacity: 1;
}

.JV-pic{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

.JV-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.JV-pic span{
  margin:1em;
  position: absolute;
  color: var(--font-color);
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1 ease-in-out;
}


.JV-pic:hover img{
  opacity: 0.2;
}

.JV-pic:hover span{
  opacity: 1;
}

.Chess-pic{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

.Chess-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Chess-pic span{
  margin:1em;
  position: absolute;
  color: var(--font-color);
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1 ease-in-out;
}


.Chess-pic:hover img{
  opacity: 0.2;
}

.Chess-pic:hover span{
  opacity: 1;
}


footer{
  position: sticky;
  margin-left: 1em;
}