
body{
  margin: 0;
  background: #020024;
  background: linear-gradient(90deg, rgb(4, 1, 66) 0%, rgba(25, 25, 112, 1) 35%, rgba(0, 0, 139, 1) 100%);
  color:aliceblue;
}

header{
  border: #6A5ACD 2px outset;
  background-color: #483D8B;
  padding: 0.5em;
  box-shadow: 0px 4px 8px 2px rgb(7, 3, 81);
}

h1{
  justify-self: center;
  font-size: 2.5em;
}

.profile-picture {

  position: relative;
  display: inline-block;
  width: 12%;
  height: auto;
  margin-top: 2%;
  margin-left: 44%;
  justify-self: center;
  align-self: center;
}

.profile-picture img{

  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: #000080 2px inset;

}

main{

  height: fit-content;
  width: auto;
}

h2{
  font-size: 1.5rem;
  justify-self: center;
  background-color: #800080;
  padding: 0.5rem;

}

.parcours{
  font-size: 1.2rem;
  justify-self: center;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: #483D8B;
  border: outset #6A5ACD 2px;
  border-radius: 3em;
  box-shadow: 4px 4px 8px 2px rgb(7, 3, 81);


}

.objectif{
  font-size: 1.2rem;
  justify-self: center;
  margin: 2em;
  padding: 0.5em;
  background-color: #483D8B;
  border: outset #6A5ACD 2px;
  border-radius: 3em;
  box-shadow: 4px 4px 8px 2px rgb(7, 3, 81);

}

.passions-grid {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
}

h3{
  font-size: 1.5rem;
  justify-self: center;
  background-color: #800080;
  padding: 0.5rem;

}

.JJB-pic{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

.JJB-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: #000080 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.JJB-pic span{
  margin:1em;
  position: absolute;
  color: aliceblue;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  z-index: -1;
}


.JJB-pic img:hover{
  opacity: 0.2;
}

.JV-pic{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

.JV-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: #000080 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.JV-pic span{
  margin:1em;
  position: absolute;
  color: aliceblue;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  z-index: -1;
}


.JV-pic img:hover{
  opacity: 0.2;
}

.Chess-pic{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

.Chess-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: #000080 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Chess-pic span{
  margin:1em;
  position: absolute;
  color: aliceblue;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  z-index: -1;
}


.Chess-pic img:hover{
  opacity: 0.2;
  
}

.button-rollback{

  justify-self: center;
  margin-bottom: 3em;
}

.button-rollback button{

  font-size: 1rem;
  padding: 0.5rem;
  color: aliceblue;
  background-color: #483D8B;
  border: outset #6A5ACD 2px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.button-rollback button:hover{

  background-color: #7B68EE;
  transform: scale(1.10);
}

footer{
  position: sticky;
  margin-left: 1em;
}