:root{

  --width-grid_pic: 40%;
  --height-grid_pic: 80%;
  --main-color: #000000e1;
  --secondary-color: #272727;
  --third-color: #B0C4DE;
  --shadow: rgba(0, 0, 0, 0.905);
  --font-color: aliceblue;
  --font-header-color: firebrick;
  --border-color: slategrey;
}

body{
  margin: 0;
  background: var(--main-color);
  color: var(--font-color);
}

header{
  display: flex;
  border: var(--third-color) 2px outset;
  background-color: var(--secondary-color);
  padding: 0.5em;
  box-shadow: 0px 4px 8px 2px var(--third-color);
  align-items: center;
}

.contact-picture {

  position: relative;
  display: inline-block;
  width: 10%;
  margin: 1em;
  margin-left: 15%;
  height: auto;
}

.contact-picture img{

  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;

}

.Bio-link,.Project-link,.Contact-link{
  color: var(--font-color);
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  margin: 2em;
  margin-left: 10%;
  text-decoration: none;
  padding: 5px;
  border: var(--third-color) 2px outset;
  transition: color 0.3s ;
  box-shadow: 4px 4px 8px 2px var(--shadow);
}

.Contact-link{color: var(--font-header-color);}

.Bio-link:hover,.Project-link:hover,.Contact-link:hover{
  color: var(--font-header-color);
}

main{
  height: 55vh;
  width: auto;
}

h1{
  color: var(--font-header-color);
  font-size: 1.2rem;
  justify-self: center;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: var(--secondary-color);
  border: outset var(--third-color) 2px;
  border-radius: 3em;
  transition: transform .2s, border-color .2s;
}


h1:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
}


.contacts-grid {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-self: center;
  text-align: center;
  padding: 5%;
  width: 50%;
  column-gap: 2%;
  border: 2px solid var(--third-color);
  background-color: var(--secondary-color);
  box-shadow: 4px 4px 8px 2px var(--third-color);
  transition: transform .2s, border-color .2s, box-shadow .2s;


}

.contacts-grid:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
  box-shadow: 4px 4px 8px 2px var(--border-color);
}

.global-desc{
  color: var(--third-color);
  font-size: 1.2em;
  margin-bottom: 5%;
  grid-column: 1/-1;

}

.download-cv{
  color: var(--font-color);
  grid-column: 1;
  justify-self: center;
  border: outset var(--third-color) 2px;
  background-color: var(--secondary-color);
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ;
}


.mail{
  color: var(--font-color);
  grid-column: 2;
  justify-self: center;
  border: outset var(--third-color) 2px;
  background-color: var(--secondary-color);
  padding: 1em;
  text-decoration: none;
  cursor: text;
  transition: color 0.3s ;

}

.numberphone{
  color: var(--font-color);
  grid-column: 3;
  justify-self: right;
  border: outset var(--third-color) 2px;
  background-color: var(--secondary-color);
  padding: 1em;
  text-decoration: none;
  cursor: text;
  transition: color 0.3s ;
}


.linkedin{
  color: var(--font-color);
  grid-column: 4;
  justify-self: center;
  border: outset var(--third-color) 2px;
  background-color: var(--secondary-color);
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ;

}

.download-cv:hover,.mail:hover,.numberphone:hover,.linkedin:hover{
  color: var(--font-header-color);
}



footer{
  position: sticky;
  margin-left: 1em;
}