:root{
  --width-pictures: 40%;
  --main-color: #000000e1;
  --secondary-color: #272727;
  --third-color: #B0C4DE;
  --shadow: rgba(0, 0, 0, 0.905);
  --font-color: aliceblue;
  --font-header-color: firebrick;
}

body{
  margin: 0;
  background: var(--main-color);
  color:var(--font-color);
}

header{
  border:  2px outset var(--third-color);
  background-color: var(--secondary-color);
  padding: 0.5em;
  box-shadow: 0px 4px 8px 2px var(--third-color);
}

h1{
  justify-self: center;
}

main{
  height: 75vh;
  width: auto;
}

.container-link {
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
}

.Bio-link{
    position: relative;
    display: inline-block;
    width: var(--width-pictures);
    height: auto;
    justify-self: center;
    align-self: center;
}

.Bio-link img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Bio-link span{
  position: absolute;
  color: var(--font-color);
  text-decoration: underline 2px;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  z-index: -1;
}


.Bio-link img:hover{
  opacity: 0.2;
}

.Project-link{
    position: relative;
    display: inline-block;
    width: var(--width-pictures);
    height: auto;
    justify-self: center;
    align-self: center;
}

.Project-link img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Project-link span{
  position: absolute;
  color: var(--font-color);
  text-decoration: underline 2px;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  z-index: -1;
}


.Project-link img:hover{
  opacity: 0.2;
}

.Contact-link{
    position: relative;
    display: inline-block;
    width: var(--width-pictures);
    height: auto;
    justify-self: center;
    align-self: center;
}

.Contact-link img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Contact-link span{
  position: absolute;
  color: var(--font-color);
  text-decoration: underline 2px;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  z-index: -1;
}


.Contact-link img:hover{
  opacity: 0.2;
}

footer{
  position: sticky;
  margin-left: 1em;
}



