/*Initialize the main var*/
:root{
  --width-grid_pic: 300px;
  --height-grid_pic: 250px;
  --main-color: #000000e1;
  --secondary-color: #272727;
  --third-color: #B0C4DE;
  --shadow: rgba(0, 0, 0, 0.905);
  --font-color: aliceblue;
  --font-header-color: firebrick;
  --border-color: slategrey;
}

body{
  margin: 0;
  background: var(--main-color);
  color: var(--font-color);
}

/*Add the header*/
header{
  display: flex;
  border: var(--third-color) 2px outset;
  background-color: var(--secondary-color);
  padding: 0.5em;
  box-shadow: 0px 4px 8px 2px var(--third-color);
  align-items: center;
}

/*Each picture has a container which contains the image*/
.project-picture {

  position: relative;
  display: inline-block;
  width: 10%;
  height: auto;
  margin: 1em;
  margin-left: 15%;
}

.project-picture img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: silver;
  border-radius: 8px;
  border: var(--third-color) 2px inset;

}

/*Here all the links button in the header*/
.Bio-link,.Project-link,.Contact-link{
  color: var(--font-color);
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  margin: 2em;
  margin-left: 10%;
  text-decoration: none;
  padding: 5px;
  border: var(--third-color) 2px outset;
  transition: color 0.3s ;
  box-shadow: 4px 4px 8px 2px var(--shadow);
}

.Project-link{color: var(--font-header-color);}

.Bio-link:hover,.Project-link:hover,.Contact-link:hover{
  color: var(--font-header-color);
}


main{

  height: fit-content;
  width: auto;
}

.global-desc{
  word-spacing: 3px;
  line-height: 1.6em;
  font-size: 1.2rem;
  text-align: center;
  justify-self: center;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: var(--secondary-color);
  border: outset var(--third-color) 2px;
  border-radius: 3em;
  box-shadow: 4px 4px 8px 2px var(--third-color);
  transition: transform .2s, border-color .2s, box-shadow .2s;
}


.global-desc:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
  box-shadow: 4px 4px 8px 2px var(--border-color);
}

/*The projects grid which contains all of my projects*/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  grid-template-rows: auto;
  justify-self: center;
  column-gap: 10em;
  row-gap: 5em;
}

/*Each image has container to contain the image, with span for the title*/
.Project-1{
    position: relative;
    display: inline-block;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.Project-1 img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Project-1 span{
  margin:1em;
  position: absolute;
  color: aliceblue;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1 ease-in-out;
}


.Project-1:hover img{
  opacity: 0.2;
}

.Project-1:hover span{
  opacity: 1;
}

.Project-2{
    position: relative;
    display: inline-block;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.Project-2 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  background-color: white;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Project-2 span{
  margin:1em;
  position: absolute;
  color: var(--font-color);
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1 ease-in-out;
}


.Project-2:hover img{
  opacity: 0.2;
}

.Project-2:hover span{
  opacity: 1;
}

.Project-3{
    position: relative;
    display: inline-block;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.Project-3 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  background-color: aliceblue;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Project-3 span{
  margin:1em;
  position: absolute;
  color: var(--font-color);
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1 ease-in-out;
}


.Project-3:hover img{
  opacity: 0.2;
}

.Project-3:hover span{
  opacity: 1;
}

.Project-4{
    position: relative;
    display: inline-block;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.Project-4 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  background-color: aliceblue;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Project-4 span{
  margin:1em;
  position: absolute;
  color: var(--font-color);
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1 ease-in-out;
}


.Project-4:hover img{
  opacity: 0.2;
}

.Project-4:hover span{
  opacity: 1;
}

footer{
  position: sticky;
  margin-left: 1em;
}