:root{
    --width-grid_pic: 40%;
    --height-grid_pic: 80%;

}

body{
  margin: 0;
  background: #020024;
  background: linear-gradient(90deg, rgb(4, 1, 66) 0%, rgba(25, 25, 112, 1) 35%, rgba(0, 0, 139, 1) 100%);
  color:aliceblue;
}

header{
  border: #6A5ACD 2px outset;
  background-color: #483D8B;
  padding: 0.5em;
  box-shadow: 0px 4px 8px 2px rgb(7, 3, 81);
}

h1{
  justify-self: center;
  font-size: 2.5em;
}

.project-picture {

  position: relative;
  display: inline-block;
  width: 12%;
  height: auto;
  margin-top: 2%;
  margin-left: 44%;
  justify-self: center;
  align-self: center;
}

.project-picture img{

  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: #000080 2px inset;

}

main{

  height: fit-content;
  width: auto;
}

.global-desc{
  font-size: 1.2rem;
  justify-self: center;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: #483D8B;
  border: outset #6A5ACD 2px;
  border-radius: 3em;
  box-shadow: 4px 4px 8px 2px rgb(7, 3, 81);


}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  grid-template-rows: auto;
  row-gap: 3em;
}

.Project-1{
    position: relative;
    display: inline-block;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.Project-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: #000080 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Project-1 span{
  margin:1em;
  position: absolute;
  color: aliceblue;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  z-index: -1;
}


.Project-1 img:hover{
  opacity: 0.2;
}

.Project-2{
    position: relative;
    display: inline-block;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.Project-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: #000080 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Project-2 span{
  margin:1em;
  position: absolute;
  color: aliceblue;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  z-index: -1;
}


.Project-2 img:hover{
  opacity: 0.2;
}

.Project-3{
    position: relative;
    display: inline-block;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.Project-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: #000080 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}

.Project-3 span{
  margin:1em;
  position: absolute;
  color: aliceblue;
  font-weight: 600;
  inset: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  z-index: -1;
}


.Project-3 img:hover{
  opacity: 0.2;
}


.button-rollback{

  justify-self: center;
  margin-bottom: 3em;
  margin-top: 2.5em;
}

.button-rollback button{

  font-size: 1rem;
  padding: 0.5rem;
  color: aliceblue;
  background-color: #483D8B;
  border: outset #6A5ACD 2px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.button-rollback button:hover{

  background-color: #7B68EE;
  transform: scale(1.10);
}

footer{
  position: sticky;
  margin-left: 1em;
}