/*Initialize the main*/
:root{
  --width-grid_pic: auto;
  --height-grid_pic: auto;
  --main-color: #000000e1;
  --secondary-color: #272727;
  --third-color: #B0C4DE;
  --shadow: rgba(0, 0, 0, 0.905);
  --font-color: aliceblue;
  --font-header-color: firebrick;
  --border-color: slategrey;
}

body{
  margin: 0;
  background: var(--main-color);
  color: var(--font-color);
}

/*Add the header*/
header{
  display: flex;
  border: var(--third-color) 2px outset;
  background-color: var(--secondary-color);
  padding: 0.5em;
  box-shadow: 0px 4px 8px 2px var(--third-color);
  align-items: center;
}

/*Each picture has a container which contains the image*/
.project-picture {

  position: relative;
  display: inline-block;
  width: 10%;
  margin: 1em;
  margin-left: 15%;
  height: auto;
}

.project-picture img{

  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;

}

/*Here all the links button in the header*/
.Bio-link,.Project-link,.Contact-link{
  color: var(--font-color);
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  margin: 2em;
  margin-left: 10%;
  text-decoration: none;
  padding: 5px;
  border: var(--third-color) 2px outset;
  transition: color 0.3s ;
  box-shadow: 4px 4px 8px 2px var(--shadow);
}

.Project-link{color: var(--font-header-color);}


.Bio-link:hover,.Project-link:hover,.Contact-link:hover{
  color: var(--font-header-color);
}

main{

  height: fit-content;
  width: auto;
  margin-top: 5%;
}

h1{
  color: var(--font-header-color);
  font-size: 1.5rem;
  justify-self: center;
  background-color: var(--secondary-color);
  border: 2px outset var(--third-color);
  padding: 0.5rem;

}

.global-desc{
  word-spacing: 3px;
  line-height: 1.6em;
  font-size: 1.2rem;
  text-align: center;
  justify-self: center;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: var(--secondary-color);
  border: outset var(--third-color) 2px;
  border-radius: 3em;
  box-shadow: 4px 4px 8px 2px var(--third-color);
  transition: transform .2s, border-color .2s, box-shadow .2s;

}

.global-desc:hover{
  transform: translateY(-2px);
  border-color: var(--border-color);
  box-shadow: 4px 4px 8px 2px var(--border-color);


}

/*The stacks grid which 2 distincts columns to display each section (stacks used and features)*/
.stacks-features{
  margin-top: 2%;
  display: grid;
  width: 50%;
  grid-template-columns: repeat(2,1fr);
  column-gap: 10%;
  font-size: 1.5rem;
  justify-self: center;
  text-align: left;
  padding: 0.5em;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10%;
  background-color: var(--secondary-color);
  border: outset var(--third-color) 2px;
  transition: transform .2s, border-color .2s;

}

.col:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
}


.title-stacks { grid-column: 1;}
.title-features { grid-column: 2; } 

.title-stacks, .title-features { 
  margin: 0;
  font-weight: lighter;
  font-size: 1.2rem;
  border: var(--third-color) 2px inset;
  padding: 0.3em;
  background-color: rgb(34, 32, 32);
  width: fit-content;
}

.stack{ grid-column: 1;}
.features  { grid-column: 2;}

.stack,.features {
  padding: 0;
  list-style-position: inside;
  font-size: 0.9em;
}



.stack li,.features li {
  margin-bottom: 0.4em;
  padding: 0.3em;
  color: var(--font-header-color);
  list-style-type: disc;
}

/*The link for the Github page*/
.github-link{
  font-size: 1.2em;
  justify-self: center;
  background-color: var(--secondary-color);
  border: 2px inset var(--third-color);
  border-radius: 5%;
  padding: 0.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: transform .2s, border-color .2s;
}

.github-link a{
  color: var(--font-color);
  text-decoration: none;
}

.github-link:hover {
  transform: translateY(-2px);
  border-color: var(--border-color);
}

h2{
  color: var(--font-header-color);
  font-size: 1.5rem;
  justify-self: center;
  background-color: var(--secondary-color);
  border: 2px outset var(--third-color);
  padding: 0.5rem;
  margin-top: 2%;
}

/*The grid for all the project pictures with container to contains images*/
.pics-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 350px));
  grid-template-rows: auto;
  justify-self: center;
  column-gap: 10em;
  row-gap: 5em;
  margin-top: 3em;
}

/*Each image has container to contain the image, with paragraph to explain it*/
.image1 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: zoom-in;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.image1 img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}


.image1 p{
  margin-bottom: 5%;
  top: 2%;
  padding: 2%;
  position: relative;
  color: var(--font-color);
  border: var(--third-color) 2px solid;
  border-radius: 2em;
  background-color: var(--secondary-color);
  font-weight: 400;
  text-align: center;
  align-content: center;
  pointer-events: none;
  transition: transform .2s, border-color .2s;

  
}

.image1:hover p{
  transform: translateY(-2px);
  border-color: var(--border-color);
}

.image2 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: zoom-in;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.image2 img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}


.image2 p{
  margin-bottom: 5%;
  top: 2%;
  padding: 2%;
  position: relative;
  color: var(--font-color);
  border: var(--third-color) 2px solid;
  border-radius: 2em;
  background-color: var(--secondary-color);
  font-weight: 400;
  text-align: center;
  align-content: center;
  pointer-events: none;
  transition: transform .2s, border-color .2s;

  
}

.image2:hover p{
  transform: translateY(-2px);
  border-color: var(--border-color);
}

.image3 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: zoom-in;
    width: var(--width-grid_pic);
    height: var(--height-grid_pic);
    justify-self: center;
    align-self: center;
}

.image3 img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
  border: var(--third-color) 2px inset;
  opacity: 1;
  transition: opacity 1 ease-in-out;
}


.image3 p{
  margin-bottom: 5%;
  top: 2%;
  padding: 2%;
  position: relative;
  color: var(--font-color);
  border: var(--third-color) 2px solid;
  border-radius: 2em;
  background-color: var(--secondary-color);
  font-weight: 400;
  text-align: center;
  align-content: center;
  pointer-events: none;
  transition: transform .2s, border-color .2s;

  
}

.image3:hover p{
  transform: translateY(-2px);
  border-color: var(--border-color);
}


footer{
  position: static;
  margin-left: 1em;
  margin-top: 5em;
}